:root {
	--border-type: solid black 2px;
	--box-size: 100px;
	--colorPlayer1: #1b3b8a;
	--colorPlayer2: #8f1111;
	font-family: Barlow, Arial, Helvetica, sans-serif;
	font-size: 20px;
}
#wrapper {
	display: grid;
	width: 100%;
	height: 100vh;
	place-content: center;
	
}
h1, #turninfo {
	text-align: center;
}
#container {
	display: flex;
	gap: 50px;
	align-items: center;
	background-color: #efefef;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0px 5px 10px rgba(20, 20, 20, 0.6);
}
aside {
	padding: 0 20px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	color: white;
	background-color: var(--colorPlayer1)
}
aside:nth-of-type(1) {
	background-color: var(--colorPlayer2)
}
aside h2 {
	margin: 0;
}

input:not(:nth-child(2)) {
	padding: 10px;
}
main {
	display: grid;
	justify-items: center;
	min-width: calc(var(--box-size) * 3 + 100px);
}
#restartContainer {
	display: flex;
	justify-content: center;
}
#restartBtn {
	margin-top: 40px;
	width: 200px;
	cursor: pointer;
}
.hidden {
	opacity: 0;
	pointer-events: none;
}
#game {
	display: grid;
	grid-template-columns: calc(var(--box-size) * 3);
	grid-template-rows: repeat(3, var(--box-size));
}
.cell {
	cursor: pointer;
}
.row {
	display: grid;
	grid-template-columns: repeat(3, var(--box-size));
}
.row:nth-child(2) .cell:nth-child(2) {
	border: var(--border-type)
}
.row:nth-child(1) .cell:nth-child(2),.row:nth-child(3) .cell:nth-child(2) {
	border-left: var(--border-type);
	border-right: var(--border-type);
}
.row:nth-child(2) .cell:nth-child(1),.row:nth-child(2) .cell:nth-child(3) {
	border-top: var(--border-type);
	border-bottom: var(--border-type);
}

.circle {
	background-image: url("images/circle.svg");
}
.cross {
	background-image: url("images/cross.svg");
}
